{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Show Plan</title>

    <!-- Bootstrap core CSS -->


    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script> 


    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">

    <style>
      .checked {
        color: orange;
      }

    </style>


  </head>


  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger">Itenerary Planner</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/iteneraryApplication/form">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link js-scroll-trigger" href="/iteneraryApplication/show_plan">Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/iteneraryApplication/map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Tour Plan</h2>
            <h3 class="section-subheading text-muted">{{ city }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              {% for day in tour %}
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <h4>Day <br> {{ forloop.counter }}</h4>
                  </div>
                </li>
                {% for place in day %}
                  {% if forloop.counter|divisibleby:2 %}
                    <li class="timeline-inverted">
                      <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="{% static place.images.0 %}" alt="">
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4>{{ place.time }}</h4>
                          <h4 class="subheading">{{ place.name }}</h4>
                          <h6>                       
                            {% for star in place.rating_len %}
                              <span class="fa fa-star checked"></span>
                            {% endfor %}
                          </h6>
                        </div>
                        <div class="timeline-body">
                          <p class="text-muted">{{ place.description }}</p>
                        </div>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{place.place_id}} ">Details</button>                   
                        <div class="modal fade" id="modal{{place.place_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col-lg-5">
                                    <div id="carousel-thumb{{place.place_id}}" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="{% static place.images.0 %}" alt="First slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{% static place.images.1 %}" alt="Second slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{% static place.images.2 %}" alt="Third slide">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-thumb{{place.place_id}}" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-thumb{{place.place_id}}" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                  </div>
                                  <div class="col-lg-7">
                                    <h2 class="h2-responsive product-name">
                                      <strong>{{ place.name }}</strong>
                                    </h2>
                                    <div class="modal-body">
                                        {{ place.description }}
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </li>
                  {% else %}
                    <li>
                      <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="{% static place.images.0 %}" alt="">
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4>{{ place.time }}</h4>
                          <h4 class="subheading">{{ place.name }}</h4>
                          <h6>                       
                            {% for star in place.rating_len %}
                              <span class="fa fa-star checked"></span>
                            {% endfor %}
                          </h6>
                        </div>
                        <div class="timeline-body">
                          <p class="text-muted">{{ place.description }}</p>
                        </div>
                        
                                               
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{place.place_id}}">Details</button>
                        <div class="modal fade" id="modal{{place.place_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col-lg-5">
                                    <div id="carousel-thumb{{place.place_id}}" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="{% static place.images.0 %}" alt="First slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{% static place.images.1 %}" alt="Second slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{% static place.images.2 %}" alt="Third slide">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-thumb{{place.place_id}}" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-thumb{{place.place_id}}" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                  </div>
                                  <div class="col-lg-7">
                                    <h2 class="h2-responsive product-name">
                                      <strong>{{ place.name }}</strong>
                                    </h2>
                                    <div class="modal-body">
                                        {{ place.description }}
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>

  </body>

</html>